{% extends "base.html" %}
{% load static %}
{% load i18n %}
{%load cart_template_tags %}
{%load vegetarian_cookbook_tags %}


{% block extra_head %}
<title>{{ title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="keywords" content="{{ seo_keywords }}">
{% endblock %}

{% block content %}

<div class="container">
    <main role="main">

        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">
              <a href="{%url 'core:recipes_category' category_name%}" class="dark-grey-text">
                <h3 class="my-3 h3">{{title}}</h3>
              </a>
            </div>
            <!--Grid column-->
      
          </div>
          <!--Grid row-->

    <!--Section: Products v.3-->
    <section class="text-center mb-4">
        
        <!--Grid row-->
        <div class="row wow fadeIn">
                {% include "list_include.html" %}
        </div>
    </section>
    <!--Pagination-->
    {%if is_paginated%}

    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        <!--Arrow left-->
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {%endif%}
        <li class="page-item active">
          <a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li> -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {%endif%}
      </ul>
    </nav>
    {%endif%}
    <!--Pagination-->
  
    </main>
</div>

{% endblock %}